<%= form_for [@post, @comment] do |f| %>
  <div class="input-field col s12">
    <%= f.label :content %>
    <%= f.text_area :content, id: "textarea3", class: "materialize-textarea", 'data-length' => "120" %>
  </div>
  <div class="input-field col s12">
    <%# f.label :user_id %>
    <%# f.text_field :user_id %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn waves-effect right teal darken-3" %>
  </div>
<% end %>
