<h1 class="center-align">Welcome to MindBook</h1>
<div class="row center-align">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Hi there!</span>
        <p>This is a social network app build with RoR. <br>
          It has some useful functionality and security features. <br>
          Feel free to join and play with the app</p>
      </div>
      <div class="card-action">
        <%= link_to 'Sign Up', new_user_registration_path, class:"waves-effect waves-teal btn teal white-text" %>
        <%# link_to 'About', "#", class:"waves-effect waves-teal btn blue white-text" %>
        <%= link_to 'GuitHub', 'https://github.com/hundrog/facebook-like', 
                    class:"waves-effect waves-teal btn blue darken-4 white-text", 
                    target: "_blank", rel: "nofollow" %>
      </div>
    </div>
  </div>
</div>
