<div class="row login-form">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <h1>Editing Post</h1>
    <%= render 'form', post: @post %>
  </div>
</div>
<br>
<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="right">
      <%= link_to 'Show', @post, class:"btn blue" %>
      &nbsp;
      <%= link_to 'Back', posts_path, class:"btn red" %>
    </div>
  </div>
</div>
