<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="center-align">
      <h3>Posts Feed</h3>
      <br>
    </div>
    <div class="row login-form">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
<div class="center-align"><%= will_paginate @collection %></div>
<%= render 'posts', obj: @posts %>
<div class="center-align"><%= will_paginate @collection %></div>
<br>
