@import "materialize/components/color-variables";
$primary-color: color("teal", "darken-2") !default;
$card-link-color: color("deep-orange", "darken-1") !default;
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}