@import "materialize/components/color-variables";
$primary-color: color("teal", "darken-2") !default;
$secondary-color: color("deep-orange", "base") !default;
$card-link-color: color("deep-orange", "base") !default;
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.pagination li.active a {
  color: #fff;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

.less-padding{
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}