<footer class="page-footer teal darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MindBook</h5>
        <p class="grey-text text-lighten-4">Share your thougs with your friends</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><%= link_to 'About', "#", class:"grey-text text-lighten-3" %></li>
          <li><%= link_to 'GuitHub', 'https://github.com/hundrog/facebook-like', 
                  class:"grey-text text-lighten-3", target: "_blank", rel: "nofollow" %></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2019 <%= link_to 'hundrog', 'https://github.com/hundrog/', class:"grey-text text-lighten-3" %>
  </div>
</div>
</footer>
